
            /* 선택자 종류 */
            /* 1. 타입(요소종류) 선택자 */
            h2{color: red;}
            p{color: blue; font-family: serif;}

            /* 2. 전체 선택자 */

            *{font-style: italic; color: yellow;} 
            /* 같은 스타일을 적용시 개별선택자가 우선적용됨 */

            /* 3. 아이디 선택자 */
            #p1{color: green;}/* 타입선택자보다 우선시 됨 */

            /* 4. 클래스 선택자 */
            .aa{color: violet;}/* 타입선택자보다 우선시 됨 */

            /* 선택자 섞어서 사용하기 */
            /* p요소중에서 class가 aa인 요소 */
            p.aa{background-color: yellow;}

            /* 5. 선택자 그룹 */
            li, a{color: gray;}

            /* 6. 자식, 자손 선택자 */
            #ss>p{color: black;}
            #ss p{color: lime;}

            /* 아래 둘은 완전히 다름 */
            p.aa{} /* p요소중에서 class값이 aa인 요소 */
            p .aa{} /* p요소의 자손들 중에서 class값이 aa인 요소 */

            /* 이런식으로 복합적으로 ... */
            #kk ul.gg>li{background-color: aqua;}
            /* 7. 속성 선택자 */
            p[class]{font-size: 30px;} /* p요소중에서 class속성이 지정된 요소 */
            div[id="ss"]{font-weight: bold;}

            /* 8. 의사(pseudo-class) 선택자 */
            /* link, visited는 브라우저마다 동작여부가 다름 */
            a:link{color: blue;}
            a:visited{color: brown;}
            a:hover{color: green;}
            a:active{color: red;}
            /* hover는 반드시 link와 visited 다음에 작성해야만 함 */
            /* active는 반드시 hover 다음에 작성해야함 */

            #kk ul li:first-child{color: red;}
            #kk ul li:last-child{color: blue;}
            #kk ul li:nth-child(2){color: green;}
            
            /* 수식을 이용한 n번째 자식 스타일링 */
            table tr:nth-child(2n){background-color: aqua;}